<div class="post-index">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-id"><%= @link_number += 1 %></div>

      <div class="vote">
        <% if current_user %>
          <div class="vote-attribute">
            <%= link_to_if(post.from_vote_up?(current_user), image_tag("up_press.png"), post_vote_path(post, :id), method: :delete) do
              link_to(image_tag("up.png"), post_up_path(post))
            end %>
          </div>
        <% else %>
            <div class="vote-attribute"><%= image_tag "up.png" %></div>
        <% end %>

        <div class="vote-attribute"><%= post.votes.where(vote_type: 'up').count - post.votes.where(vote_type: 'down').count %></div>

        <% if current_user %>
          <div class="vote-attribute">
            <%= link_to_if(post.from_vote_down?(current_user), image_tag("down_press.png"), post_vote_path(post, :id), method: :delete) do
              link_to(image_tag("down.png"), post_down_path(post))
            end %>
          </div>
        <% else %>
            <div class="vote-attribute"><%= image_tag "down.png" %></div>
        <% end %>
      </div>

      <div class="post-image">
        <% if post.image.present? %>
          <%= link_to((image_tag post.image.url, width: "70"), post.title) %>
        <% else %>
          <%= link_to((image_tag '1111.jpeg', width: "70"), post.title) %>
        <% end %>
      </div>
      <div class="post-body">
        <div id="rew">
          <h4><%= link_to post.text, post.title %></h4>
        </div>
        <div class="icon"></div>
        <div class="icon2">
          <div class="post-title">
            <span><%= post.created_at.strftime("submitted %F by") %></span>
            <span><%= User.find_by(:id => post.user_id).name %></span>
            <span> to r/funny</span>
          </div>
          <div class="post-title" id="post-title">
            <span><%= link_to("comment", "url") %></span>
            <span><%= link_to("share", "url") %></span>
            <span><%= link_to("save", "url") %></span>
            <span><%= link_to("hide", "url") %></span>
            <span><%= link_to("report", "url") %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="sidebar">
  <div class="search">
    <%= form_tag("/search", :method => "get") do %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
  <div class="sidebar1"></div>
  <div class="new-link"><%= link_to 'Submit a new link', new_post_path %></div>
  <div class="new-link"><%= link_to 'Submit a new text post', '#' %></div>
  <div class="sidebar2"></div>
</div>
