<div class="post-index">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-id"><%= @link_number += 1 %></div>
      <div class="vote">
      <% if current_user %>
        <% if post.from?(current_user) %>
          <div class="vote-attribute"><%= link_to(image_tag("up.png"), post_vote_path(post, :id), method: :delete) %></div>
        <% else %>
          <div class="vote-attribute"><%= link_to(image_tag("up.png"), post_votes_path(post), method: :post) %></div>
        <% end %>
      <% else %>
          <div class="vote-attribute"><%= link_to(image_tag("up.png"), post_votes_path(post), method: :post) %></div>
      <% end %>

        <div class="vote-attribute"><%= post.votes.count %></div>

        <% if post.votes.count != 0 %>
          <div class="vote-attribute"><%= link_to(image_tag("down.png"), post_vote_path(post, :id), method: :delete) %></div>
        <% else %>
          <div class="vote-attribute"><%= link_to(image_tag("down.png"), "#") %></div>
        <% end %>
      </div>
      <div class="post-image">
        <% if post.image.present? %>
          <%= link_to((image_tag post.image.url, width: "70"), post.title) %>
        <% else %>
          <%= link_to((image_tag '1111.jpeg', width: "70"), post.title) %>
        <% end %>
      </div>
      <div class="post-body">
        <div id="rew">
          <h4><%= link_to post.text, post.title %></h4>
        </div>
        <div class="icon"></div>
        <div class="icon2">
          <div class="post-title">
            <span> submitted</span>
            <span> GloryHoleVampire</span>
            <span> to r/funny</span>
          </div>
          <div class="post-title" id="post-title">
            <span><%= link_to("comment", "url") %></span>
            <span><%= link_to("share", "url") %></span>
            <span><%= link_to("save", "url") %></span>
            <span><%= link_to("hide", "url") %></span>
            <span><%= link_to("report", "url") %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="sidebar">
  <div class="search">
    <%= form_tag("/search", :method => "get") do %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
  <div class="sidebar1"></div>
  <div id="new-link"><%= link_to 'Submit a new link', new_post_path %></div>
  <div id="new-link"><%= link_to 'Submit a new text post', '#' %></div>
  <div class="sidebar2"></div>
</div>
