<div class="index">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-id"><%= @link_number += 1 %></div>
      <div class="post-id">
        <% if post.image.present? %>
          <%= image_tag post.image.url, height: 36, width: 70 %>
        <% else %>
          <%= image_tag 'no_image.png', height: 36, width: 70 %>
        <% end %>
      </div>
      <div class="post-body">
        <div id="rew">
          <h4><%= link_to post.title, post_path(post) %></h4>
        </div>
        <div class="icon"></div>
        <div class="icon2">
          <div class="post-title">
            <span> submitted</span>
            <span> GloryHoleVampire</span>
            <span> to r/funny</span>
          </div>
          <div class="post-title" id="post-title">
            <span><%= link_to("comment", "url") %></span>
            <span><%= link_to("share", "url") %></span>
            <span><%= link_to("save", "url") %></span>
            <span><%= link_to("hide", "url") %></span>
            <span><%= link_to("report", "url") %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="sidebar"></div>

<div id="new-link"><%= link_to 'New link', new_post_path %></div>
