<div class="post show">
    <h3><%= @post.title %></h3>
    <%= image_tag @post.image.url(:thumb) %>
    <p><%= @post.text %></p>
</div>

<%= link_to 'Назад', root_path %>
|
<%= link_to 'Удалить статью', post_path(@post), method: :delete, data: { confirm: 'Вы уверены?'} %>

