<div class="post-show">
    <h3><%= @post.title %></h3>
    <%= image_tag @post.image.url, size: "480x260" %>
    <p><%= @post.text %></p>
    <div>
      <%= link_to("Back", :back, class: 'btn btn-outline-secondary') %>
      <%= link_to("Delete link", post_path(@post), method: :delete, data: { confirm: 'Вы уверены?'}, class: 'btn btn-outline-secondary') %>
    </div>
</div>
