<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="all-content">
      <div id="nav">
        <span id="first-link"><%= link_to("MY SUBREDDITS", "url") %></span>
        <span><%= link_to("HOME", "url") %></span>
        -
        <span><%= link_to("POPULAR", "url") %></span>
        -
        <span><%= link_to("ALL", "url") %></span>
        -
        <span><%= link_to("RANDOM", "url") %></span>
        |   |
        <span><%= link_to("ASKREDDIT", "url") %></span>
        -
        <span><%= link_to("WORLDNEWS", "url") %></span>
        -
        <span><%= link_to("FUNNY", "url") %></span>
        -
        <span><%= link_to("VIDEOS", "url") %></span>
        -
        <span><%= link_to("PICS", "url") %></span>
        -
        <span><%= link_to("NEWS", "url") %></span>
        -
        <span><%= link_to("GIFS", "url") %></span>
        -
        <span><%= link_to("TODAYILERNES", "url") %></span>
        -
        <span><%= link_to("AWW", "url") %></span>
        -
        <span><%= link_to("GAMING", "url") %></span>
        -
        <span><%= link_to("MOVIES", "url") %></span>
        -
        <span><%= link_to("SHOWERTHOUGHTS", "url") %></span>
        -
        <span><%= link_to("JOKES", "url") %></span>
        -
        <span><%= link_to("FUTUROLOGY", "url") %></span>
        -
        <span><%= link_to("SCIENCE", "url") %></span>
        -
        <span><%= link_to("TELEVISION", "url") %></span>
        -
        <span><%= link_to("TWOXCHROMOSOMES", "url") %></span>
        -
        <span><%= link_to("OLDSCHOOLCOOL", "url") %></span>
        -
        <span><%= link_to("DATAISBEAUTIFUL", "url") %></span>
        -
        <span><%= link_to("NOTTHEONION", "url") %></span>
        -
        <span><%= link_to("LIFEPROTIPS", "url") %></span>
        -
        <span><%= link_to("IAMA", "url") %></span>
      </div>
      <div id="upper">
        <img id="img" src="https://b.thumbs.redditmedia.com/-KIq1WArgXPnB02N493dZuaRlH_Q_ypFC7S5PQ3I9wE.png" width="120" height="40">
        <div class="input">
          <span>log in</span>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
